body {
  padding: 20px;
  margin: 0;
}

body,
html {
  background-color: #08d8c8;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
}

#root {
  width: 350px;
  margin: 20px auto 0 auto;
}

#root header img {
  float: left;
}

#root header .nav {
  float: right;
  list-style: none;
  font-size: 16px;
}

#root header .nav li a {
  color: white;
  text-decoration: none;
}

.content {
  margin-top: 20px;
}

h1 {
  font-size: 20px;
  text-decoration: underline;
}

.lock {
  text-align: center;
}

.lock-icon {
  width: 200px;
  margin: 10px 0 14px 0;
}

.btn {
  background: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 28px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
}

.lock-links {
  list-style: none;
}

.lock-links li {
  line-height: 20px;
}

.lock-links li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.lock-links li a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
}
